
.uploaded_profilecard{
    width: 30%;
    height: 299px;
    background-color: #b1c2c2;
    margin-left: 40px;

}

.profile-items{
    display: flex;
border: 1px solid #8a2be2;
width: 90%;


}

.items-onsale-boxes{
    border: 1px solid green;
    
}

.first-row-box{
    border: 1px solid hotpink;
    display: flex;
}


#items-on-sale{
    margin: 70px;
    border: 1px solid blueviolet;
    width: 50%;
    height: 20px;
    background-color: blueviolet;

}