

.Sell-it-title{

    padding-left: 92px;
    margin-left: 7px;
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 1.7rem;
    font-weight: 900;
    color:#8A8A8A;
    
}


.sell-it-all-content{

    width: 75%;
    padding-left: 130px;
    margin-left: 120px;

}



.upload-form {

    color:#8A8A8A;
    font-weight: 500;
    display: flex;
    flex-direction: column;

}

.info-form { 
    display: flex;
    margin-top: 20px;

}

#Sell-it-boxes{
    
    height: 30px;
    padding-left: 13px;

}

.Title {
    
    width: 75%;
    margin-left: 58px;
     
}

.Price { 

   width: 25%;
   margin-left: 52px;
   
}
.location {
    
    width: 35%;
    margin-left: 27px;

}
.Description {

    width: 75%;
    margin-left: 7px;
    height: 110px;
    padding-top: 7px;
    padding-left: 13px;
}




.category-buttons-contain {
    
    display: flex;
    margin-top: 22px;

}

.Select-a-category {
 
    padding-top: 39px; 
    color:#8A8A8A;
 
}

.buttons {
    
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    width: 690px;
    margin-top: 22PX;
    margin-bottom: 23px;
    margin-left: 12px;
    
}

#sell-it-buttons {

    border-radius: 10px;
    background-color:white;
    border: .2px solid #8A8A8A ;
    width: 25%;
    height: 43px;
    margin: 18px;
    font-weight: 600;
    
}

#sell-it-buttons:hover{
   background-color: #FFA830;
}

.add-images-container{

    font-size: .8rem;
    display: flex;
    color: #8A8A8A;
    width: 85%;
   
}

#add-image {
    width: 70%;
    height: 150px;
    border: 1.2px solid  #929497;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    
}

.add-image2,.add-image3,.add-image4 {
    
    margin-left: 80px;

}

.Plus-logo {
    
    font-size: 2rem;
    color: #10C8CD;

}

.sell-it-cancel-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#upload-last-buttons {
   width: 30%;
   height: 38px;
   margin-top: 33px;

}

.sell-it-button {

    background-color:#FFA830 ;
    border: none;
    font-weight: 700;

}
.cancel-button {

    background-color: white;
    color: #929497 ;
    border: 1px solid #C4C4C4;
    margin-bottom: 4px;

}

@media  (max-width:1078px) {

    .sell-it-all-content {
       padding-left: 0;
      
   }
}


@media  (max-width:646px) {


.add-images-container {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    

}

.sell-it-all-content {

    margin: auto;

}

.add-image2,.add-image3,.add-image4 {

     margin-left: 0;

  }

}

@media  (max-width:414px) {

.category-buttons-contain {

   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
  

 }

}